#homepage-1 {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;

    .ps-home-banner {
        padding-top: 15px;
        margin-bottom: 30px;
        .ps-collection {
            display: block;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .slick-slider {
            height: 100%;

            .slick-list {
                height: 100%;
                > .slick-track {
                    height: 100%;
                    * {
                        height: 95.4%;
                        border-radius: 7px;
                    }
                }
            }

            .ps-banner-item--default {
                display: block;
            }
        }

        @include media('<sm') {
            .slick-slider {
                height: 50vh;

                .slick-list {
                    height: 100%;
                    > .slick-track {
                        height: 100%;
                        * {
                            height: 95.4%;
                            border-radius: 7px;
                        }
                    }
                }
            }
        }

        .banner-overlay {
            padding: 16px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            /* height: 20vh !important; */
            display: flex;
            background-color: rgba(0, 0, 0, 0.5);
            flex-direction: column;
            color: black;
            align-items: flex-start;
            flex-wrap: nowrap;

            //     .banner-overlay-content {
            //         height: 20vh !important;

            //         .banner-text {
            //             font-size: 1.5rem;
            //             color: #fff; /* Adjust the color as needed */
            //             margin-bottom: 0.5rem;
            //         }

            //         h1 {
            //             font-size: 2.5rem;
            //             color: #fff;
            //             margin-bottom: 0.5rem;
            //         }

            //         .banner-description {
            //             font-size: 1.2rem;
            //             color: #fff;
            //             margin-bottom: 1rem;
            //             text-align: center;
            //             padding: 0 10%;
            //         }

            //         .banner-button {
            //             font-size: 1rem;
            //             padding: 0.5rem 1rem;
            //             color: #fff;
            //             background-color: #007bff; /* Adjust the button color as needed */
            //             border: none;
            //             border-radius: 5px;
            //             cursor: pointer;

            //             &:hover {
            //                 background-color: #0056b3; /* Adjust the hover color as needed */
            //             }
            //         }
            //     }
        }

        .ps-container {
            display: flex;
            height: 100%;
            > * {
                flex: 1;
                flex-basis: 100%;
            }

            .ps-section__left {
                max-width: calc(100% - 976px);
                padding-right: 15px;
            }

            .ps-section__right {
                max-width: 976px;
            }

            @media (max-width: 1680px) {
                .ps-section__left {
                    max-width: calc(100% - 800px);
                }

                .ps-section__right {
                    max-width: 900px;
                }
            }

            @media (max-width: 1440px) {
                .ps-section__left {
                    max-width: calc(100% - 875px);
                }

                .ps-section__right {
                    max-width: 875px;
                }
            }

            @media (max-width: 768px) {
                /* Tablet */
                .ps-section__left {
                    max-width: 100%;
                }

                .ps-section__right {
                    max-width: 100%;
                }
            }

            @media (max-width: 480px) {
                /* Mobile */
                .ps-section__left,
                .nav-bar {
                    display: none;
                }

                .ps-section__right {
                    max-width: 100%;
                }
            }

            .ps-section__right .nav-bar {
                ul {
                    list-style-type: none;
                    margin: 0;
                    overflow: hidden;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                }

                li {
                    float: left;
                }

                li a {
                    display: block;
                    color: rgb(0, 0, 0);
                    text-align: center;
                    padding: 12px 16px;
                    text-decoration: none;
                    margin-bottom: 12px;
                }

                li a:hover {
                    background-color: $color-1st;
                    border-radius: 2px;
                }
            }
        }
    }

    .ps-site-features {
        // padding-bottom: 90px;
        @media screen and (max-width: 480px) {
        }
    }

    .ps-deal-of-day {
        padding-bottom: 80px;
        .slick-slide {
            > div {
                margin: 0 8px;
            }
        }

        .ps-product {
            .ps-product__price {
                color: #690;
                font-size: 18px;
                font-weight: 600;

                del {
                    margin-left: 10px;
                    font-size: 14px;
                }

                small {
                    margin-left: 10px;
                    color: red;
                }
            }
        }
    }

    .ps-top-categories {
        padding: 80px 0 50px;

        h3 {
            text-transform: capitalize;
            display: flex;
            justify-content: center;
        }
    }

    @include media('<md') {
        .ps-top-categories {
            padding: 0 50px;
        }
    }

    .ps-product-list {
        padding-bottom: 80px;
        @include media('<md') {
            padding-bottom: 50px;
        }
        @include media('<sm') {
            padding-bottom: 40px;
        }
        @include media('<xs') {
            padding-bottom: 0px;
        }
    }

    .ps-download-app {
        margin-top: 80px;
        margin-bottom: 100px;
        @include media('<sm') {
            margin-bottom: 50px;
        }
    }

    .ps-carousel {
        .slick-list {
            padding-right: 3px !important;
        }
    }
}
