#homepage-1 {
    .ps-home-banner {
        padding-top: 15px;
        margin-bottom: 30px;
        .ps-collection {
            display: block;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .slick-slider {
            height: 100%;
            .slick-list {
                height: 100%;
                > .slick-track {
                    height: 100%;
                    * {
                        height: 95.4%;
                        border-radius: 7px;
                    }
                }
            }

            .ps-banner-item--default {
                display: block;
            }
        }

        .ps-container {
            display: flex;
            height: 100%;
            > * {
                flex: 1;
                flex-basis: 100%;
            }

            // @media (max-width: 1680px) {
            .ps-section__left {
                max-width: calc(100% - 1200px);
            }

            .ps-section__right {
                max-width: 1200px;
            }
            // }

            @media (max-width: 1440px) {
                .ps-section__left {
                    max-width: calc(100% - 1090px);
                }

                .ps-section__right {
                    max-width: 1090px;
                }
            }

            .ps-section__left {
                padding-right: 15px;
                // max-width: calc(100% - 1200px);
            }

            .ps-section__right {
                // max-width: 1200px;

                .nav-bar {
                    ul {
                        list-style-type: none;
                        margin: 0;
                        // padding: 0;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                    }

                    li {
                        float: left;

                    }

                    li a {
                        display: block;
                        color: rgb(0, 0, 0);
                        text-align: center;
                        padding: 12px 16px 12px 16px;
                        text-decoration: none;
                        margin-bottom: 12px;
                    }

                    li a:hover {
                        background-color: $color-1st;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
    

    .ps-site-features {
        // padding-bottom: 90px;
        @media screen and (max-width: 480px) {
        }
    }

    .ps-deal-of-day {
        padding-bottom: 80px;
        .slick-slide {
            > div {
                margin: 0 8px;
            }
        }

        .ps-product {
            .ps-product__price {
                color: #690;
                font-size: 18px;
                font-weight: 600;

                del {
                    margin-left: 10px;
                    font-size: 14px;
                }

                small {
                    margin-left: 10px;
                    color: red;
                }
            }
        }
    }

    .ps-top-categories {
        padding: 80px 0 50px;

        h3 {
            text-transform: capitalize;
            display: flex;
            justify-content: center;
        }
    }

    .ps-product-list {
        padding-bottom: 80px;
        @include media('<md') {
            padding-bottom: 50px;
        }
        @include media('<sm') {
            padding-bottom: 40px;
        }
        @include media('<xs') {
            padding-bottom: 0px;
        }
    }

    .ps-download-app {
        margin-top: 80px;
        margin-bottom: 100px;
        @include media('<sm') {
            margin-bottom: 50px;
        }
    }

    .ps-carousel {
        .slick-list {
            padding-right: 3px !important;
        }
    }
}
